# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
tests/test_*_output/
